<div class="col-4">
    <div class="card">
        <img class="img-thumbnail" src="{{ exercise.image }}" alt="{{ exercise.name }} image" aria-describedby="exercise-{{ exercise.name }}">
        <div class="card-body">
            <h2 class="card-title" id="exercise-{{ exercise.name }}">{{ exercise.name }}</h2>
            <p class="card-text">{{ exercise.intro }}</p>
            <a class="btn btn-secondary btn-sm" href="{{ url_for('program', exercise=exercise.href) }}" role="button" aria-label="More information about {{ exercise.name }}">
                More info
            </a>
            <a class="btn btn-secondary btn-sm" href="{{ exercise.video_link }}" role="button" aria-label="Watch the tutorial video for {{ exercise.name }}">
                Tutorial
            </a>
        </div>
    </div>
</div>
