{% extends "layout.html" %}
{% block content %}
    <h1 class="text-white my-2" id="exercise-title"><strong>{{ exercise.name }}</strong></h1>
    
    <div class="row justify-content-center align-items-center">
        <div class="my-4">
            <img src="{{ exercise.image }}" alt="Image of {{ exercise.name }}" class="img-fluid" aria-labelledby="exercise-title">
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <p class="col-12 col-md-9 col-lg-6 text-white" aria-labelledby="exercise-title">{{ exercise.description|safe }}</p>
    </div>

    <div class="row justify-content-center align-items-center mb-4">
        <div class="card col-12 col-md-9 col-lg-6">
            <div class="card-body">
                <h4 class="card-title text-center" id="enrollment-title">Enroll in our {{ exercise.name }} Plan</h4>
                
                <div class="col-12 mb-4 text-center">
                    <img src="{{ exercise.plan_image }}" alt="{{ exercise.name }} plan image" class="img-thumbnail" aria-labelledby="enrollment-title">
                </div>
                
                <div class="col-12">
                    {% for program_plan in program_plans %}
                        <div class="card mb-2 p-2" role="region" aria-labelledby="plan-{{ program_plan._id }}">
                            <h5 id="plan-{{ program_plan._id }}" class="mb-2">{{ program_plan.title }}</h5>
                            
                            {% if program_plan.days %}
                                <p>Every {{ program_plan.days|join(', ') }}</p>
                            {% else %}
                                <p><strong>From:</strong> {{ program_plan.dates[0] }} <strong>To:</strong> {{ program_plan.dates[-1] }}</p>
                            {% endif %}
                            
                            {% if program_plan._id in enrolled_program_ids %}
                                <!-- Cancel Enrollment Button -->
                                <form action="{{ url_for('cancel_enrollment') }}" method="POST" aria-label="Cancel enrollment form for {{ program_plan.title }}">
                                    <input type="hidden" name="program_id" value="{{ program_plan._id }}">
                                    <input type="hidden" name="exercise" value="{{ exercise.href }}">
                                    <button type="submit" class="btn btn-danger" aria-label="Cancel enrollment in {{ program_plan.title }}">Cancel</button>
                                </form>
                            {% else %}
                                <!-- Enrollment Button -->
                                <form action="{{ url_for('enroll') }}" method="POST" aria-label="Enrollment form for {{ program_plan.title }}">
                                    <input type="hidden" name="program_id" value="{{ program_plan._id }}">
                                    <input type="hidden" name="exercise" value="{{ exercise.href }}">
                                    <button type="submit" class="btn btn-outline-info" aria-label="Enroll in {{ program_plan.title }}">Enroll</button>
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock content %}
